<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.game.tekatekigambar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>Teka-Teki Gambar</name>
    
    <description>
        Game teka-teki gambar untuk mengasah otak. Ketuk, seret, dan gabungkan objek untuk memecahkan teka-teki!
    </description>
    
    <author email="muhammadfauziarrasyid@gmail.com" href="https://github.com/muhammadfauzi-Web">
        Muhammad Fauzi
    </author>

    <content src="index.html" />

    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-screen-orientation" />
    <plugin name="cordova-plugin-admob-plus">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-6360985134697901~6204309636" />
    </plugin>
    
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />

    <icon src="www/icon-512.png" />

    <platform name="android">
        <icon density="ldpi" src="www/icon-192.png" />
        <icon density="mdpi" src="www/icon-192.png" />
        <icon density="hdpi" src="www/icon-192.png" />
        <icon density="xhdpi" src="www/icon-192.png" />
        <icon density="xxhdpi" src="www/icon-512.png" />
        <icon density="xxxhdpi" src="www/icon-512.png" />
        
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidWindowSplashScreenBackground" value="#4ECDC4" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon-512.png" />
    </platform>

</widget>
